<aside>
  <div class="card mx-auto">
    <div class="card-header text-center">
      <img src="../../assets/logo.png" class="img-fluid" alt="Full size logo">
    </div>
    <div class="card-body">
      <form class="mx-auto">
        <div class="form-group">
          <label for="usr">User ID</label>
          <input type="text" class="form-control" placeholder="Enter your username" id="usr">
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" id="pwd">
        </div>
        <button type="button" class="btn form-control btn-outline-primary">Sign in</button>
      </form>
    </div>
  </div>
</aside>