<div class="container">
  <div class="row">
    <article class="col-sm-7 mx-auto">
      <h1 class="display-3 text-center">Simple.</h1>
      <h1 class="display-3 text-center">Intuitive.</h1>
      <h1 class="display-3 text-center">Elegant.</h1>
      <h1 class="display-3 text-center">It's Didactive Report.</h1>
      <hr>
      <p>The expense Report System that is designed to enhance productivity and efficiency, while reducing stress and frustration.
        Don't think IRS, think ERS.</p>
    </article>
    <aside class="col-sm-5 offset-10 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <img src="../../assets/logo.png" class="img-fluid" alt="Full size logo">
        </div>
        <div class="card-body">
          <form class="mx-auto">
            <div class="form-group">
              <label for="usr">User ID</label>
              <input type="text" class="form-control" placeholder="Enter your username" id="usr">
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" placeholder="Enter your password" id="pwd">
            </div>
            <button type="button" class="btn form-control btn-outline-primary">Sign in</button>
          </form>
        </div>
      </div>
    </aside>
  </div>
</div>