hr {
    border: .2em solid black;
}

p {
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 575.98px) {  
    p {font-size: 1rem;} /*1rem = 16px*/
    .display-3 { font-size: 2.5rem; }
    hr { border-width: .1em; }
}

@media (min-width: 576px) and (max-width: 767.98px) {  
    p {font-size: 1rem;} /*1rem = 16px*/
    .display-3 { font-size: 2.5rem; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    p {font-size: 1.2rem;} /*1rem = 16px*/
    .display-3 { font-size: 3.5rem; }
}