#navColor {
    background-color: #014F8B;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.3em;
}

#searchBar {
    margin-left: auto;
}

div.row {
    margin-top: 5em;
    margin-right: 0em;
    margin-left: 0em;
}

@media (max-width: 575.98px) { div.row { margin-top: .5em;} }